body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4ebff48;
    color: #1A4B73;
}

:root {
    --main-color: #1B2F40;
}

header,
section,
footer {
    margin: 20px auto;
    width: 80%;
    max-width: 960px;
}

header {
    text-align: center;
}

h1 {
    color: var(--main-color);
}

h2 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--main-color);
    color: #fff;
}

#idiomas {
    background-color: #1b2f401e;
    padding: 20px;
}

.languages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px; /* Ancho fijo */
    margin-bottom: 20px; /* Espacio entre cada artículo */
}

article span {
    font-size: 50px;
    margin-bottom: 10px;
}

#informatica {
    background-color: #1b2f401e;
    padding: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

#experiencia {
    background-color: #1b2f401e;
    padding: 20px;
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

#formacion-reglada {
    background-color: #1b2f401e;
    padding: 20px;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #d4ebff;
}

span > img  {
    width: 65px;
}

